header.header
  .header__wrapper
    a(href="#").header__trigger#header-trigger
      span
      span
      span
    .header__logo
      img(src="images/header/logo.png")
    nav.header__navigation
      ul.header__list
        li.header__item
          a(href="#whatwedo").header__link
            | What we do
        li.header__item
          a(href="#whoweare").header__link
            | Who we are
        li.header__item
          a(href="#contactus").header__link
            | Contact Us
.header__mobile-menu
  .header__mobile-menu-body
    .header__mobile-menu-top
    ul.header__list.header__list--mobile
      li.header__item.header__item--mobile
        a(href="#whatwedo").header__link
          | What we do
      li.header__item.header__item--mobile
        a(href="#whoweare").header__link
          | Who we are
      li.header__item.header__item--mobile
        a(href="#contactus").header__link
          | Contact Us
  .header__mobile-menu-overlay
