header.header
  .header__wrapper
    a(href="#").header__trigger#header-trigger
      span
      span
      span
    .header__logo
      img(src="images/header/logo.png")
    nav.header__navigation
      ul.header__list
        li.header__item
          a.header__link
            | What we do
        li.header__item
          a.header__link
            | Who we are
        li.header__item
          a.header__link
            | Contact Us
