section.callback#contactus
  .callback__rect
  .callback__wrapper
    form.callback__feedback
      .callback__title
        | Contact us
      .callback__input-wrapper
        .callback__input-elem
          input(type="text" placeholder="Username" id="name").callback__input
          p.result-validation#resultName
        .callback__input-elem
          input(type="email" placeholder="E-mail" id="email").callback__input
          p.result-validation#resultEmail
      .callback__area-wrapper
        textarea(placeholder="Description" id="descr").callback__area
        p.result-validation.result-validation--area#resultDescr
      .callback__submit-wrapper
        input(type="submit" value="Send" id="validate").callback__submit
.callback__modal
  .callback__overlay
  .callback__modal-wrap
    .callback__close
      | x
    p.callback__modal-title
