section.services
  .services__rect2
  .services__rect4
  .services__rect6
  .services__rect7
  .services__rect8
  .services__rect9
  .services__rect12
  .services__rect13
  .services__wrapper
    .services__element#details
      .services__rect1
      .services__image
        img(src="images/service/img1.png")
      .services__information
        .services__title
          | Browse deals
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
    .services__element#promo
      .services__rect3
      .services__information
        .services__title
          | Get a promo code
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
      .services__image
        img(src="images/service/img2.png")
    .services__element#spread
      .services__rect5
      .services__image
        img(src="images/service/img3.png")
      .services__information
        .services__title
          | Spread the word
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
    .services__element#earn
      .services__information
        .services__title
          | Earn income
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
      .services__image
        img(src="images/service/img4.png")
    .services__element#network
      .services__image
        img(src="images/service/img5.png")
      .services__information
        .services__title
          | Grow your network
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
    .services__element#passive
      .services__rect10
      .services__information
        .services__title
          | Earn Passive Income
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
      .services__image
        img(src="images/service/img6.png")
    .services__element#model
      .services__rect11
      .services__image
        img(src="images/service/img7.png")
      .services__information
        .services__title
          | The Model
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
