section.services
  .services__wrapper
    .services__element
      .services__image
        img(src="images/service/img1.png")
      .services__information
        .services__title
          | Browse deals
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
    .services__element
      .services__information
        .services__title
          | Browse deals
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
      .services__image
        img(src="images/service/img2.png")
    .services__element
      .services__image
        img(src="images/service/img3.png")
      .services__information
        .services__title
          | Spread the word
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
    .services__element
      .services__information
        .services__title
          | Earn income
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
      .services__image
        img(src="images/service/img4.png")
    .services__element
      .services__image
        img(src="images/service/img5.png")
      .services__information
        .services__title
          | Grow your network
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
    .services__element
      .services__information
        .services__title
          | Earn Passive Income
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
      .services__image
        img(src="images/service/img6.png")
    .services__element
      .services__image
        img(src="images/service/img7.png")
      .services__information
        .services__title
          | The Model
        .services__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .services__description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .services__description
          | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim (380 - 400 сharacters number)
