section.banner
  .banner__wrapper
    .banner__information
      .banner__bg
        img(src="images/banner/bg-mobile.png")
      h1.banner__title
       | Infinite Affiliates
      p.banner__description
        | The democratization of marketing
      .banner__coming-wrapper
        a(href="javascript:void(0)").banner__coming-btn
          | Coming soon
    .banner__items
      .banner__item
        .banner__item-img
          img(src="images/banner/item1.png")
        .banner__item-description
          | Browse
          br
          | deals
      .banner__item
        .banner__item-img
          img(src="images/banner/item2.png")
        .banner__item-description
          | Get a promo
          br
          | code
      .banner__item
        .banner__item-img
          img(src="images/banner/item3.png")
        .banner__item-description
          | Spread the
          br
          | word
      .banner__item
        .banner__item-img
          img(src="images/banner/item4.png")
        .banner__item-description
          | Earn
          br
          | income
      .banner__item
        .banner__item-img
          img(src="images/banner/item5.png")
        .banner__item-description
          | Grow your
          br
          | network
      .banner__item
        .banner__item-img
          img(src="images/banner/item6.png")
        .banner__item-description
          | Earn Passive
          br
          | Income
      .banner__item
        .banner__item-img
          img(src="images/banner/item7.png")
        .banner__item-description
          | The
          br
          | Model
