section.banner
  .banner__wrapper
    .banner__information
      .banner__bg
        img(src="images/banner/bg-mobile.png")
      h1.banner__title
       | Infinite Affiliates
      p.banner__description
        | The democratization of marketing
      .banner__coming-wrapper
        a(href="javascript:void(0)").banner__coming-btn
          | Coming soon
    .banner__items
      a(href="#details").banner__item
        .banner__item-img.banner__item-img-first
          //img(src="images/banner/item1.png")
        .banner__item-description.banner__item-description-first
          | Browse
          br
          | deals
      a(href="#promo").banner__item
        .banner__item-img.banner__item-img-second
          //img(src="images/banner/item2.png")
        .banner__item-description.banner__item-description-second
          | Get a promo
          br
          | code
      a(href="#spread").banner__item
        .banner__item-img.banner__item-img-third
          //img(src="images/banner/item3.png")
        .banner__item-description.banner__item-description-third
          | Spread the
          br
          | word
      a(href="#earn").banner__item
        .banner__item-img.banner__item-img-fourth
          //img(src="images/banner/item4.png")
        .banner__item-description.banner__item-description-fourth
          | Earn
          br
          | income
      a(href="#network").banner__item
        .banner__item-img.banner__item-img-fifth
          //img(src="images/banner/item5.png")
        .banner__item-description.banner__item-description-fifth
          | Grow your
          br
          | network
      a(href="#passive").banner__item
        .banner__item-img.banner__item-img-sixth
          //img(src="images/banner/item6.png")
        .banner__item-description.banner__item-description-sixth
          | Earn Passive
          br
          | Income
      a(href="#model").banner__item
        .banner__item-img.banner__item-img-seventh
          //img(src="images/banner/item7.png")
        .banner__item-description.banner__item-description-seventh
          | The
          br
          | Model
