section.about#whoweare
  .about__rect1
  .about__rect2
  .about__rect3
  .about__rect4
  .about__wrapper
    .about__information
      h3.about__title
        | who we are
      p.about__description
        | How can I make money off of my network’s sales like that? What’s the catch?
        | There is no catch! When someone in your network makes a sale and you make a profit because of it, the money comes directly from the income that Infinite Affiliates would be earning on that very sale.
      p.about__description
        | The money that Infinite Affiliates pays out on any given sale never exceeds the total commission that the company has offered as part of the deal. As there are more members in the network, Infinite Affiliates just makes a smaller profit - as a larger portion of our income is distributed to the network.
      p.about__description
        | How do I invite my friends?
        | Your username is your invite code! So friends can either enter your code manually upon signup, or you can share your invite link which can be found in the settings page of the app.
    .about__team
      .about__elem
        .about__elem-image
          img(src="images/about/ava.png")
        .about__elem-name
          | Gracen Hecht
        .about__elem-description
          | During the cryptocurrency boom, Ben made a name for himself trading before getting hired by Skycoin, a top 100 market cap coin, as a marketing and research consultant.
        .about__elem-description
          |Ben has honed a keen entrepreneurial eye by working on a variety of business ventures throughout his life.
      .about__elem
        .about__elem-image
          img(src="images/about/ava.png")
        .about__elem-name
          | Ben King-Hails
        .about__elem-description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .about__elem-description
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.        .about__elem-description
          | Ben has honed a keen entrepreneurial eye by working on a variety of business ventures throughout his life.
