footer.footer
  .footer__logo
    img(src="images/footer/logo.png")
  ul.footer__list
    li.footer__item
      a(href="#whatwedo").footer__link
        | What we do
    li.footer__item
      a(href="#whoweare").footer__link
        | Who we are
    li.footer__item
      a(href="#contactus").footer__link
        | Contact Us
