footer.footer
  .footer__logo
    img(src="images/footer/logo.png")
  ul.footer__list
    li.footer__item
      a.footer__link
        | What we do
    li.footer__item
      a.footer__link
        | Who we are
    li.footer__item
      a.footer__link
        | Contact Us
